# Ignore everything
*

# Except
!setup.py
!pyproject.toml
!Makefile
!environment.yml
!codecov.yml
!requirements-doc.txt

!src/
!src/*
!tests/
!tests/*
!ci/
!ci/*
!docs/
!docs/*

!LICENSE
!README.md
!.gitignore

!.git/
!.git/*

!.github/
!.github/*
