## Requirements:

{% include 'requirements.md.jinja' %}

---

[Requirements](#requirements)
[Installing](#installing)
[Usage](#usage)
[Library](#library)

## Installing

{% with pypi=pypi, repo=repo %}{% include 'install.md.jinja' %}{% endwith %}

---

## Usage

{% include 'usage.md.jinja' %}

---

## Library

{% include 'library.md.jinja' %}